html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    outline: 1px dashed orange;
}

#title {
    padding: 15px;
    position: absolute;
    font-family: Helvetica;
    font-size: 2.5em;
    top: 40vh;
}

.page {
    height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#splash {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

#who {

}

#why {
    background-color: lightblue;
}

#what {

}

#where {
    background-color: lightblue;
}
