html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    height: 400vh;
    margin: 0;
    padding: 0;
}

.text {
    opacity: 0;
    padding: 15px;
    font-family: Helvetica;
    font-size: 1.5em;
}

.social-media-icon {
    height: 1em;
}

#photoreel {
    position: absolute;
    top: 400vh;
    right: 10px;
    margin: 10px 10px 10px 10px;
    border: 10px solid grey;
    border-radius: 10px;
}

.photo {
    display: block;
    width: 300px;
}

#header {
    padding: 15px;
    position: absolute;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 2.5em;
    top: 40vh;
}

#scroll-icon {
    position: relative;
    margin: auto;
    top: 30px;
    width: 30px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

#scroll-icon-dot {
    position: relative;
    top: 5px;
    left: 11px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 8px;
}

#splash {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

#who {

}

#why {
    background-color: lightblue;
}

#what {

}

#where {
    background-color: lightblue;
}

#page-text4 {
    text-align: center;
    padding-top: 35vh;
}
