html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    outline: 1px dashed orange;
}

#title {
    padding: 10px;
    position: absolute;
    font-family: Helvetica;
    top: 50vh;
}

.page {
    height: 110vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#splash {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

#who {

}

#why {
    background-color: lightblue;
}

#what {

}

#where {
    background-color: lightblue;
}
